<% provide(:title, "") %>
<div class="container">
  <div class="center jumbotron jumbotron-fluid">
    <h1>ログイン</h1>
    <div>
      <%= link_to "ユーザー登録(test)", signup_path, class: "btn btn-primary" %>
      <%= link_to "ユーザーページ(test)", '#', class: "btn btn-success" %>
      <%= link_to "修理一覧(test)", repairs_path,class: "btn btn-success" %>
    </div>
  </div>
</div>
