<% provide(:title, "") %>
<div class="container">
  <div class="center jumbotron jumbotron-fluid">
    <h1>ログイン</h1>
    <div>
      <%= link_to "ユーザー登録(demo)", signup_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
