<h1>MachineCategory#index</h1>
<p>Find me in app/views/machine_category/index.html.erb</p>
<% @machine_categories.each do |machine_category| %>
  <p><%= machine_category.code %></p>
  <p><%= machine_category.product %></p>
<% end %>
