<% if @user.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      エラーが<%= @user.errors.count %>件あります。
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
