@import "bootstrap";

/* 共通 */

body {
  padding-top: 80px;
}

section {
overflow: auto;
}

textarea {
resize: vertical;
}

.center {
text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.left {
  text-align: left;
}

.display-none {
  visibility: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

ul {
  list-style-type: square;
}

input[type="radio"] {
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
   margin-right: 0.5em;
}

.table-show-sub {
  font-size: 40px;
  display: table;
  table {
    border-width: 3px;
  }
  th {
    border-width: 3px;
    display: table-cell;
    vertical-align: middle;
    background-color: #ccc;
  }
  td {
    border-width: 3px;
    display: table-cell;
    vertical-align: middle;
  }
}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.header-list ul {
  margin-bottom: -15px;
}

.header-list ul li {
  font-size: 1.2em;
  display: inline;
  margin-right: 1em;
}

#header-menu {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
  background-color: #656565;
}

.dropdown-menu li:hover {
  background-color: #343a40;
}

/* ユーザー入力フォーム */

.label-signup {
  margin-top: 15px;
}

.btn-signup {
  margin-top: 20px;
}

.label-user--edit {
  margin-top: 15px;
}

.btn-user--edit {
  margin-top: 20px;
}

/* トップ */

.top-login {
  margin-top: 1px;
  p {
    text-align: left;
    margin-bottom: 1px;
  }
}

.label-login {
  margin-top: 15px;
}

.btn-login {
  margin-top: 20px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }
}

.btn-user--new {
  margin-bottom: 20px;
}

/* ユーザーページ */

.editor-form {
  margin-top: 80px;
}

.editor-btn-group {
  margin-top: 10px;
  margin-left: 15px;
}

.editor-btn {
  font-size: 25px;
}

/* ページネーション */

.pagination {
  height: auto;
  margin: auto;
  margin: 0 10px 10px 0;
  text-align: center;
}

.pagination a {
  background-color: grey;
  text-decoration: none;
}

.pagination * {
  color: white;
  margin: 0 7px;
  text-decoration: none;
  padding: 12.5px 18.5px;
  border-radius: 25px;
  font-family: 'Nunito', sans-serif;
}

.current {
  font-style: normal;
  color: white;
  background: #93c9ff;
  border-radius: 22.5px;
  font-family: 'Nunito', sans-serif;
}

.pagination a:hover {
  background: #93c9ff;
}

.pagination .disabled {
  color: white;
  background-color: grey;
  padding: 11px 17px;
  border: 1px solid #666666;
  border-radius: 23px;
  font-family: 'Nunito', sans-serif;
}

/* お知らぜバッジ */

.badge-new{
  animation: badge-new 2s linear infinite;
  background: #0091EA;
}

@keyframes badge-new {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    background:#66B2FF;
  }
}

.badge-update{
  animation: badge-update 1.5s linear infinite;
  background: #d9534f;
}

@keyframes badge-update {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    background: #fff;
  }
}

/* 修理一覧ページ */

.btn-repair--new {
  margin-bottom: 20px;
}

.repair_check {
  color: #5cb85c;
}

.reminder_check {
  color: #d9534f;
}

.input-menu {
  display: inline-flex;
}

.input-group {
  margin-left: 50px;
}

.export-btn {
  margin-left: 50px;
}

/* 修理詳細ページ */

.table-repair-show th {
   background-color: #e9ecef;
}

/* 修理 製品種目 入力フォーム */

.form-bootstrap {
  display: inline-block;
  width: auto;
}

.label-new {
  margin-top: 15px;
}

.btn-new {
  margin-top: 20px;
}

.label-edit {
  margin-top: 15px;
}

.btn-edit {
  margin-top: 20px;
}

/* PDF出力ページ */

.monthly_group {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.monthly_list {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 15px;
  margin-bottom: 25px;
}

/* データ管理ページ */

.data-group {
}

.data_title {
  font-weight: bold;
  margin-bottom: 30px;
}

.export_list {
  margin-bottom: 50px;
}

.inport_list {
}

.export_menu {
  display: inline-block;
  margin-right: 50px;
}

.inport_menu {
  display: inline-block;
  margin-right: 50px;
}

.csv_inport_btn{
}

.csv_inport_form{
  display: none;
}

/* まとめて削除ページ */

.delete_check_form {
  text-align: center;
  margin-bottom: 20px;
}

.delete_check_btn {
  display: inline-block;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  display: inline;
  input {
    @extend .is-invalid;
  }
}

/* debug */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
