<% provide(:title, "出力") %>
<h1>データ出力</h1>
<div>
  <% @reception_year.each do |ry, item| %>
  <div class="monthly_group"><%= year_text(ry, "%Y年") %></div>
  <div class="monthly_list">
    <% @reception_month.each do |rm, item| %>
      <% if year_text(ry, "%Y") == month_text(rm, "%Y") %>
        <%= link_to pdf_link_text("#{month_text(rm, "%-m月")}"),
                    export_pdf_repairs_path(date: rm, format: :pdf), :target=>["_blank"],
                    class: "btn btn-sm rounded-pill btn-outline-danger monthly_list" %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>



<br>
<br>
<br>
<br>
<div>
<% @reception_month.each do |rm, item| %>
<div class="">
  <%= link_to (rm + "01").to_date&.strftime("%Y年 %-m月"),
              export_pdf_repairs_path(date: rm, format: :pdf), :target=>["_blank"],
              class: "btn btn-sm rounded-pill btn-outline-danger monthly_list" %>
</div>
<% end %>
</div>
