<% provide(:title, "出力") %>
<h1>データ出力</h1>
<% @reception_month.each do |rm, item| %>
<div class="monthly_list">
  <%= (rm + "01").to_date&.strftime("%Y年 %-m月") %>
  <%= link_to "PDF",
              export_pdf_repairs_path(date: rm, format: :pdf), :target=>["_blank"],
              class: "btn btn-sm rounded-pill btn-outline-danger monthly_list" %>
</div>
<% end %>
