<% provide(:title, "出力") %>

<% @reception_month.each do |r, item| %>
<%= link_to r, export_repairs_path(format: :pdf), :target=>["_blank"] %>
<ul>
    <% item.each do |i| %>
    <li><%= i.customer_name %></li>
    <li><%= i.reception_day.try(:strftime, "%Y%m") %></li>
    <%= link_to r, export_repairs_path(format: :pdf), :target=>["_blank"] %>
    <% break %>
    <% end %>
</ul>
<% end %>
