<% provide(:title, "一覧") %>
<h1>修理一覧</h1>
<div class="">
  <table class="table table-bordered table-condensed">
    <thead class="thead-light center">
      <tr>
        <th>受付日</th>
        <th>得意先名</th>
        <th>型式</th>
        <th>製品種目</th>
        <th>進捗</th>
        <th>連絡</th>
        <th>催促</th>
        <th>修正</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody class="center">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
